FLASK_ENV=production
DEBUG=False
SECRET_KEY=replace-with-local-secret
MAIL_SUPPRESS_SEND=True
MAIL_DEFAULT_SENDER=no-reply@example.invalid
MAIL_TO=owner@example.invalid
ALLOWED_ORIGINS=http://127.0.0.1:8095
